.cols {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.playlist {
  font-size: 14px;
  margin-right: 1rem;
}

.episode-details {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  height: calc(100vh - 63px);
}

.episode-details img {
  display: block;
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
}
